@charset 'UTF-8';

@font-face {
    font-family: 'amore';
    src: url(../fontes/AmoreMIO.ttf) format('truetype');
}

/* A mente do site */

body {
    background-image: linear-gradient(45deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, white);
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    font-family: 'amore';
    font-size: 1.7em;
    text-align: center;
}

/* O corpo do site */
/* E o seu conteúdo em si */

.guia {
    border-bottom: 2px solid #000000;
    margin: 2%;
}
.capas {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 1% 12%;
    justify-content: center;
    gap: 1.5%;
    width: 70%;
    height: 100%;
}
.capas .capa {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.capas .capa:hover {
    box-shadow: 0px 0px 30px 5px #ffadad;
    transition-duration: .1s;
}
.capas .capa:active {
    box-shadow: 0px 0px 30px 5px #ff8b8b;
}

/* O rodapé do site */

.rodape {
    margin-top: 5%;
    margin: 6% auto;
    text-align: center;
}
.rodape a{
    color: rgb(32, 32, 32);
}
.rodape a:hover {
    color: #686868;
    transition-duration: .5s;
}
.rodape a:active {
    color: black;
    transition-duration: inherit;
}

/* Responsividade da página */

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }
    .capas {
        margin: 0.8% 4.5%;
        flex-direction: column;
        gap: 18px;
    }
    .tudo {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        font-size: 1.8em;
    }
    .capas {
        margin: 0.8% 9%;
        flex-direction: column;
        gap: 20px;
    }
    .tudo {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 2em;
    }
    .capas {
        margin: 0.8% 10%;
        flex-direction: column;
        gap: 22px;
    }
    .tudo {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 1.4em;
    }
}