<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagens/Coração colorido.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/video.css">
    <title>Mioshun</title>
</head>
<body>
    <header class="titulo">
        <h1>ʚ Mioshun ɞ</h1>
    </header>
    <main>
        <section>
            <iframe class="video" src="https://www.youtube.com/embed/G9FtzSiYF3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <section class="link">
            <a href="https://www.youtube.com/watch?v=5zCgG5f4ntA&list=PL4I4ryyXC32toDL4un-kOpIzRbK0P50yS&index=2" rel="external" target="_blank">Confira mais vídeos como esse</a>
        </section>
    </main>
    <footer class="voltar">
        <a href="../index.html" rel="prev">
            <img src="../imagens/voltar.png" alt="clique aqui para voltar para a página principal">
        </a>
    </footer>
</body>
</html>